/* 1.由于设计图以1280px为准，先把container的最大宽度修改为1280 */
@media screen and (min-width:1280px){
    .container{
        width: 1280px;
    }
}

.logo {
    background-color: rgb(71, 128, 75)
}
.logo img{
    width: 100%;
}
header{
    padding-left: 0 !important;
}
.nav{
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav a{
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-size: 16px;
    color: #666;
}
.nav a:hover{
    background-color: #fff;
    text-decoration: none;
    color: #333;
}
.nav a::before{
    vertical-align: middle;
    padding-right: 5px;
}

.news li{
    float: left;
    width: 25%;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.news li:nth-child(1){
    width: 50%;
    height: 266px;
}
.news li img{
    width: 100%;
    height: 100%;
}
.news li a{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.news li a p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    line-height: 41px;
    background-color: rgba(0, 0, 0, .5);
    font-size: 12px;
    color: #fff;
    margin-bottom: 0;
    padding:0 10px;
}
.news li:nth-child(1) p{
    height: 64px;
    line-height: 2;
    font-size: 16px;
}
.publish {
    border-top:2px solid rgb(71, 128, 75);
}
.publish .row{
    padding:10px 0;
    border-bottom: 2px solid rgb(71, 128, 75);
}
.pic{
    padding:0;
    margin-top: 10px;
    background-color: rgb(71, 128, 75);

}
.pic img{
    width: 100%;
    height: 100%;
}


